.content {
    width: 90%;
    margin: 1.4rem auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.795);
    font-weight: 500;
}

button {
    margin-bottom: .8rem;
}

.table {
    width: 100%;
    
}

.livros {
    margin-left: .5rem;
    color: rgb(1, 34, 34);
}

.edit {
    color: rgb(18, 18, 221);
}

.delete {
    color: rgb(204, 18, 18);
    margin-left: .5rem;
}

.mat-header {
    width: 5rem;
}